
body {
  background-color: #ea5169;
  font-family: sans-serif;
  margin: 0;
  width: auto;
}

header {
  background-color: #ea5169;
  padding: 5%;
  font-size: 15pt;


}

@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 5%;
  }
}

@keyframes slide {
  from  {
     left: 0;
  }
  to {
    right: 100px;
  }

}

@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pic-grid {
  background-color: rgb(149, 218, 201);
  margin: 0;
  padding: 4%;
  border:  6px groove;
  justify-content: center;


}

.color-grid {
    background-color: rgb(50, 213, 52);
    margin: 0;
    padding: 2%;
    border: 16pt dotted greenyellow;

}

.inside-grid {
  animation-name: pop;
  animation-duration: 8s;
  grid-template: 84px /repeat(4, 26.4%);
  display: grid;
  background-color: rgba(235, 226, 230, 0);
  height: auto;
  width: auto;
  box-shadow: inset 6px -28px 70px -4px  #ea5169;

}





.first-pic {
  animation-name: roll;
  animation-duration: 2s;
  height: 250px;
  width: 250px;
  border-radius: 50%;

}

.second-pic  {
  animation-name: roll;
  animation-duration: 2.5s;
  height: 250px;
  width: 250px;
  border-radius: 50%;

}

.third-pic  {
  animation-name: roll;
  animation-duration: 3s;
  height: 250px;
  width: 250px;
  border-radius: 50%;

}

.fourth-pic {
  animation-name: roll;
  animation-duration: 3s;
  height: 250px;
  width: 250px;
  border-radius: 50%;

}

p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14pt;
}

/* bottom pics */
.list {
  grid-template: auto / repeat(3, 12%);
  display: grid;
  justify-content: space-between;
  margin: 0;
  padding: 0 13%;


}
.list img:nth-child(1) {
  height: 200px;
  width: auto;
  border-radius: 53%;
}
.list img:nth-child(2) {
  height: 200px;
  width: auto;
  border-radius: 50%;
}
.list img:nth-child(3) {
  height: 200px;
  width: auto;
  border-radius: 53%;
}
footer {
  position: absolute;
  display: block;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: bold;
  position: bottom;
  background-color: rgb(54, 97, 31);
}
