body {
  background-color: #ea5169;
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #ea5169;
  padding: 5%;
  font-size: 15pt;


}
@keyframes slide {
  from  {
    left: 0;
  }
  to {
    left: 35px;
  }
}

@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pic-grid {
  animation-name: slide;
  animation-duration: 2s;
  grid-template: auto /repeat(3, 40%);
  background-color: rgb(174, 236, 83);
  display: grid;
  margin: 0;
  padding:  12%;
  border: 4px;
  border-image: url("https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/04/19/Pictures/_c62d39de-43bc-11e8-a5d3-1ef93e3dfeed.jpg");
  

}

.first-pic img {
  animation-name: roll;
  animation-duration: 2s;
  height: 350px;
  width: 350px;
  border-radius: 50%;
}

.second-pic img {
  animation-name: roll;
  animation-duration: 2.5s;
  height: 350px;
  width: 350px;
  border-radius: 50%;

}

.third-pic img {
  animation-name: roll;
  animation-duration: 3s;
  height: 350px;
  width: 350px;
  border-radius: 50%;

}

p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14pt;
}

footer {
  position: absolute;
  display: block;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: bold;
  position: bottom;

  background-color: rgb(54, 97, 31);

}
