
body {
  background-color: #ea5169;
  font-family: sans-serif;
  margin: 0;
  width: auto;
}

header {
  background-color: #ea5169;
  padding: 5%;
  font-size: 15pt;


}

@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 5%;
  }
}

@keyframes slide {
  from  {
     left: 0;
  }
  to {
    right: 100px;
  }

}

@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pic-grid {
  background-color: rgb(149, 218, 201);
  margin: 0;
  padding: 6%;
  border-image: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_1399,w_2084,x_0,y_20/v1554918003/shape/mentalfloss/81904-istock-867774454.jpg?itok=i24LyQBh") 30 rounds;


}

.color-grid {
    align-content: center;
    background-color: rgb(50, 213, 52);
    margin: 0;
    padding: 2%;
}

.inside-grid {
  animation-name: pop;
  animation-duration: 8s;
  grid-template: auto /repeat(3, 40%);
  display: grid;
  background-color: rgba(235, 226, 230, 0);
  align-content: center;
  height: auto;
  width: auto;
}

.first-pic img {
  animation-name: roll;
  animation-duration: 2s;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.second-pic img {
  animation-name: roll;
  animation-duration: 2.5s;
  height: 300px;
  width: 300px;
  border-radius: 50%;

}

.third-pic img {
  animation-name: roll;
  animation-duration: 3s;
  height: 300px;
  width: 300px;
  border-radius: 50%;

}

p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14pt;
}

.list {
  grid-template: auto / repeat(3, 12%);
  display: grid;
  justify-content: space-between;
  margin: 0;
  padding: 0 13%;


}
.list img:nth-child(1) {
  height: 200px;
  width: auto;
  border-radius: 53%;
}
.list img:nth-child(2) {
  height: 200px;
  width: auto;
  border-radius: 50%;
}
.list img:nth-child(3) {
  height: 200px;
  width: auto;
  border-radius: 53%;
}
footer {
  position: absolute;
  display: block;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: bold;
  position: bottom;
  background-color: rgb(54, 97, 31);
}
